@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden
}

a {
	text-decoration: none
}

p {
    color: #000
    /*text-indent: 3ch*/
}

input[type=button] {
	width: 24%;
	margin: 8px 0;
	padding: 14px 20px;
    color: #FFF;
	box-sizing: border-box;
	background-color: transparent;
	border: 2px solid #FFF;
	border-radius: 4px;
	cursor: pointer
}

input[type=button]:hover {
    color: #000;
    background-color: #FFF
}

/*********** Menu ***********/
header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
    padding: 10px 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: transparent;
	z-index: 1
}

header .header-tittle {
	flex-direction: column;
	box-sizing: border-box
}
header .header-tittle a {
    color: #FFF;
    font-size: 22px
}
header .header-tittle img {
    width: 136px;
    height: 24px
}

header .header-menu ul li {
	display: inline-block;
	margin: 6px 12px;
	font-size: 13px
}

header .header-menu ul li a {
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    transform: 2ms ease-in;
    position: relative
}

header .header-menu ul li a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: #0B5ED8;
    transition: all 1.5s ease
}

header .header-menu ul li a:hover:before {
    width: 100%
}

header .header-menu #turismo {
    background-color: #0B5ED8;
    border-radius: 4px
}

header .header-menu #turismo:before {
    background-color: transparent
}
/****************************/

/*********** Main ***********/
main {
    margin-top: 500px;
}
/****************************/

/********* Conteúdo *********/
.content-header {
    position: absolute;
	top: 0;
    right: 0;
    left: 0;
    height: 470px;
    text-align: center;
    background-image: url('../images/01_fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 10px 12px -3px rgba(0,0,0,0.4)
}
.content-header h1 {
    margin-top: 130px;
    color: #FFF
}

.content-header p {
    margin: 20px 10%;
    color: #FFF
}

.content-main {
    max-width: 1130px;
    margin: 60px auto;
    padding: 0 16px
}

.content-main h1 {
    color: #0B5ED8;
    border-bottom: 1px solid #0B5ED8;
}

.content-main p {
    margin: 14px 0;
    font-size: 15px;
    color: #000
}

.content-main
.container-image {
    text-align: center
}
.content-main .container-image img {
    width: 360px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 0px 10px 12px -3px rgba(0,0,0,0.4)
}
/****************************/

/*********** Card ***********/
.card-content {
    margin-bottom: 80px;
}

.card {
    margin-right: -18px;
    margin-left: -18px;
    display: flex;
	flex-direction: row;
    border-radius: 8px
}

.card-body {
    width: 24%;
    margin: 18px;
    padding: 16px;
    box-shadow: 0px 10px 12px -3px rgba(0,0,0,0.4);
    border-radius: 8px
}
.card-body img {
    width: 100%;
    height: 122px;
    margin-bottom: 8px;
    border-radius: 8px;
    box-shadow: 0px 10px 12px -3px rgba(0,0,0,0.4)
}
.card-body h2 {
    font-size: 16px
}
.card-body .card-name-rate {
    text-align: center
}
.card-body i.check-star {
    color: #F4D03F
}
.card-body .card-address-phone p {
    font-size: 12px
}

.card-button {
    float: right
}
.card-button .btn {
    width: 140px;
	margin: 2px 0;
	padding: 14px 20px;
    color: #FFF;
	background-color: #0B5ED8;
	border: none;
	border-radius: 4px;
	cursor: pointer
}
.card-button .btn:hover {
    background-color: #0954C2
}
/****************************/

/********** Footer **********/
footer {
    position: absolute;
    width: 100%;
    padding: 40px 58px;
    font-size: 14px;
    text-align: center;
    background-color: #1D262D
}
footer p {
    color: #FFF
}
footer a {
    color: #BABBA3
}
/****************************/

/********** MOBILE **********/
@media screen and (max-width: 760px) {

    header {
        text-align: center;
        display: flex;
        flex-direction: column
    }

    .card {
        flex-direction: column
    }

    .card .card-body {
        width: 92%
    }
}